body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
h1 {
    text-align: center;
    background-color: grey;
    font-size: 2em;
    color: white;
    margin-top: 0;
    border: 0;
}
nav {
    margin: 10px;
}
.fa-user-check {
    color:green;
    font-size: 0.5em;
    margin-left: 5px;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
	padding: 0;
	border: 0;
}
#puce {
    background-color: grey;
    color: white;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
h2 {
    margin: 10px;
}
/* main */
main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
#section_colonne {
    display: flex;
    flex-direction: column;
    margin:0 10px;
    flex-grow: 1;
}
h3 {
    margin: 0;
}
#article_entete {
    display: flex;
    font-size: 1em;
    border-radius: 5px;
    align-items: center;
}
#article_texte {
    background-color: grey;
    color:white;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
#row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
h4 {
    flex-grow: 1;
    margin: 5px;
}
#reponse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#boutonjaune {
    background-color: yellow;
    border-radius: 5px;
}
/* footer */
footer {
    background-coloR:grey;
    padding: 3px;
    text-align: center;
    color: white;
}
footer a {
    color: white;
}
p {
margin: 3px;
}
/* générale */
#boutonvert {
    background-color: green;
    color: white;
    font-size: 0.9em;
    padding: 5px 9px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
i {
    padding-left: 5px;
    margin: 5px 0;
}