/* générale */
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* boutons */
#boutonvert {
    background-color: #28a745;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: .5rem;
    font-size: 1.1rem;
    color: white;
}
#boutongris {
    background-color: #6c757d;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    color: white;
    line-height: 1.5;
    border-radius: .25rem;
    margin: .5rem
}
#boutonjaune {
    background-color: #ffc107;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    color: #212529;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: .5rem
}

/* titre */
h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    background-color: #6c757d;
    color: white;
    margin: 0;
    border: 0;
}
h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: .5rem;
}
h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
}
h4 {
    font-size: 1.5rem;
    font-weight: 500;
    flex-grow: 1;
    margin: 5px;
}

/* icones */
button i {
    padding-left: 1rem;
}
.fa-user-check {
    color:#28a745;
    font-size: 0.5em;
    margin-left: 5px;
}
main .far, #reponse .fas {
    font-size: 1.5em;
}

/* header, nav */
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
	padding: 0;
	border: 0;
}

/* main */
@media (min-width:1200px) {
    main {
        max-width: 1140px;
        flex-wrap: nowrap;
        margin-right: auto;
        margin-left: auto;
    }
    h2 {
        max-width: 1140px;
        flex-wrap: nowrap;
        margin-left: .5rem;
    }

}
main div {
    display: flex;
    flex-wrap: wrap;
}
#section_colonne {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#article_entete {
    display: flex;
    border-radius: 5px;
    align-items: center;
}
#article_texte {
    background-color: #6c757d;
    color:white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    margin: .5rem;
}
#row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
#reponse {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 576px) {
    #section_colonne {
        flex-basis: 0;
    } 
}

/* footer */
footer {
    background-coloR:#6c757d;;
    padding: 3px;
    text-align: center;
    color: white;
}
footer a {
    color: white;
}
p {
margin: 3px;
}
