
#modal_container {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 2.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s;
  visibility: hidden;
}

#modal_content {
  flex: 0 0 50%;
  max-width: 50%;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;

}

#X_btn,
#close_btn,
#open_modal {
  cursor: pointer;
}