/* Rédéfinition des couleur via un tableau associatif */
$theme-colors: (
  "primary":  #E74C2B,
  "secondary":#000000,
  "info":rgb(239, 239, 239),
  "white":white,
);

$span-fontsize:0.75rem; 
$span-fontweight:700;
$collapse-fontsize:0.57rem;

header a {  
    color: map-get($theme-colors, "secondary");
    &:hover {
        color: map-get($theme-colors, "primary");
    }
}
span { 
    font-size:$span-fontsize;
    font-weight:$span-fontweight;
} 
div {
    span {
        font-size:$collapse-fontsize;
    }
}
li {
    margin: 5px;
}
h2 {
    text-transform: uppercase;
    font-weight: 700;
}


.border-bottom {
    border-bottom: 10px solid map-get($theme-colors, "secondary");
}
.card-title, .card-text {
    color:white;
}





